/*
    Only do media query 320 and full screen and home page
    No need for forms
*/

:root {
    /** colours **/
    --yellow:           #FED766; 
    --lt-seafoam-green: #ecf9f6;
    --seafoam-green:    #43C6AC;
    --md-blue:          #191654;
    --dk-blue:          #0C0B2A;
    --blue-grey:        #6B717E;

    /** typography **/
    --headings:'Monoton', cursive;
    --body: 'Rubik', sans-serif;
}

.sr-only {
    position: absolute;
    top: 0;
    left: -9999999px;
    width: 0.1rem;
    height: 0.1rem;
    visibility: hidden;
}


/* UNIVERSAL */

a {
    text-decoration: none;
}

a img,
div .search img,
.social-media-copyright img {
    width: 25px;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--lt-seafoam-green);
}

h1,
h2 {
    font-family: 'Monoton', cursive;
    font-weight: normal;
}

h1 {
    color: var(--lt-seafoam-green);
}

h2 {
    color: var(--blue-grey)
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.container {
}

.header-content p {
    color: var(--lt-seafoam-green);
}

.logo {
    width:15rem
}

.more-button {
    background-color: var(--lt-seafoam-green);
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.menu-button:first-of-type {
    background-color: var(--seafoam-green);
    color: var(--dk-blue);
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.menu-button:nth-of-type(2) {
    background-image: linear-gradient(to left, var(--seafoam-green), var(--md-blue));
    border: 0.15rem var(--seafoam-green) solid;
    color: var(--seafoam-green);
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.nav-wrapper {
    padding: 0 1rem;
}

/* Mobile */
header {
    padding: 0 1rem;
    background-image: linear-gradient(to bottom left, var(--seafoam-green), var(--md-blue));
}

.header-content {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 2.5rem;
    padding-bottom: 4rem;
}

.menu-icon {
    width: 3rem;
}


.nav-menu {
    visibility: hidden;
    position:absolute;
    top: 0;
    left: 0;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}
