/*
    Only do media query 320 and full screen and home page
    No need for forms
*/

:root {
    /** colours **/
    --yellow:           #FED766; 
    --lt-seafoam-green: #ecf9f6;
    --seafoam-green:    #43C6AC;
    --md-blue:          #191654;
    --dk-blue:          #0C0B2A;
    --blue-grey:        #6B717E;

    /** typography **/
    --headings:'Monoton', cursive;
    --body: 'Rubik', sans-serif;
}

.sr-only {
    position: absolute;
    top: 0;
    left: -9999999px;
    width: 0.1rem;
    height: 0.1rem;
    visibility: hidden;
}


/* UNIVERSAL */

a img,
div .search img,
.social-media-copyright img {
    width: 25px;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--lt-seafoam-green);
}

h1,
h2 {
    font-family: 'Monoton', cursive;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.container {
    padding: 0 1rem;
}

.logo {
    width:15rem
}

.more-buttons {
    display: flex;
}

/* Mobile */


.menu-icon {
    width: 3rem;
}

.nav-menu {
    visibility: hidden;
    position:absolute;
    top: 0;
    left: 0;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}
